{% extends "layout.html" %}

{% block head %}
    <title> About | ProdevEngineer</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/64164769?s=460&u=798bde4b85385f36abeb22960a0793baec79f088&v=4" alt="">
    <h1>Tarcia Portela</h1>
    <h2>Rocketseat Student</h2>
    <p>Aiming to be a Full Stack Developer. Focused on learning the best practices to deliver the best service to my future clients! Currently, I'm sharpening my skills with <a href="https://rocketseat.com.br/launchbase" target="_blank">Rocketseat LaunchBase Bootcamp</a>.  </p>
</div>

<div class="links" id="links-footer">
    <a href="https://github.com/prodevengineer" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/tarciaportela/" target="_blank">LinkedIn</a>
</div>

{% endblock %}

  